<!--
/********************************************************************************************************************************************
		NICE평가정보 Copyright(c) KOREA INFOMATION SERVICE INC. ALL RIGHTS RESERVED
		
		서비스명 : 본인인증 (CheckPlus) 서비스
		페이지명 : 본인인증 (CheckPlus) 호출 페이지
*********************************************************************************************************************************************/
-->
<html>
  <head>
    <title>NICE평가정보 - CheckPlus 본인인증 테스트</title>
  </head>
  <body style="display: none">
    <center>
      <p></p>
      <p></p>
      <p></p>
      <p>본인인증이 완료 되었습니다!!!.<br /></p>

      <table border="1">
       
      <form name="form" method="post" id="form_chk">
        <input name="mobileno" value="<%=mobileno%>"/>
        <input name="name" value="<%=name%>"/>
      </form>
    </center>
  </body>
  <script type="text/javascript">
      
    window.onload = function () {
      let form = document.querySelector("#form_chk");
      form.action =
        "http://localhost:3000/accounts/signup?";
        
    
      form.target = "parent";
      form.submit();
      window.close();
    };
  </script>
</html>
